* {
    margin: 0;
    padding: 0;
    background-color: lightblue;
}

.container {
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 75px 75px 75px;
    place-content: center;
    color: rgb(84, 6, 78);
    font-weight: bold;
    border: 3px solid rgb(241, 134, 152);
    grid-template-areas: 
    "header header header"
    "side main main"
    "side main main";
}

.item-1 {
    background-color: rgb(24, 144, 184);
    border: 1px solid black;
    /* grid-column: 1/4; */
    grid-area: header;
}

.item-2 {
    background-color: rgb(243, 245, 166);
    border: 1px solid black;
    /* grid-column: 1;
    grid-row: 2/4; */
    grid-area: side;
}

.item-3 {
    background-color: rgb(246, 145, 244);
    border: 1px solid black;
    /* grid-area: 2/2 / 4/4; */
    grid-area: main;
}